{% extends 'admin/base.html' %}

{% block title %}About Page{% endblock %}

{% block content %}
<h3><u>About Smart Cart</u></h3>
<p><b>Smart Cart:</b> is
    a digital tool to manage your shopping efficiently, track items, and make purchases seamlessly.</p>
<br>
<h3><u>Key Features</u></h3>
<ul>
  <li>Add and edit items in your cart easily</li>
  <li>Search and filter your items instantly</li>
  <li>Organize items into categories or lists</li>
  <li>Save and access your shopping cart anywhere</li>
  <li>Secure and private management of your shopping data</li>
</ul>
<div>
    <h3><b><u>Technologies</u></b></h3>
    <p>
        <b>1. Frontend:</b> HTML, CSS, bootstrap<br>
        <b>2. Backend:</b> Flask <br>
        <b>3. Database:</b> my sql <br>
    </p>
</div>
{% endblock %}
