{%extends 'admin/base.html'%}

{%block title %}reset password{%endblock%}

{% block content %}
<div class="main-content">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <form method="POST">
                        <label for="password">Enter your password:</label>
                        <input type="password" name="pwd" required><br><br>

                        <label for="confirm_password">Confirm password:</label>
                        <input type="password" name="cpwd" required><br><br>

                        <button type="submit" 
                                style="width: 125px; height: 30px; background-color:blue; border:none; border-radius:5px; color:white;">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}