{% extends "base.html" %}

{% block title %}Select Login{% endblock %}

{% block content %}

<div class="login-select-wrapper">
    <div class="login-card">

        <h2 class="login-title">Welcome to Smart Cart</h2>
        <p class="login-subtext">Select how you want to login</p>

        <a href="{{ url_for('admin_login') }}" class="login-btn admin-btn">Login as Admin</a>
        <a href="{{ url_for('user_login') }}" class="login-btn user-btn">Login as User</a>

    </div>
</div>

{% endblock %}
